@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/
  background: rgb(0,39,66);
  background: linear-gradient(180deg, rgb(0, 0, 0, 0.4) 0%, rgb(23, 82, 122) 50%, rgba(53, 59, 179, 0.7) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: rgb(115, 155, 172);
  text-decoration: inherit;
}
a:hover {
  color: #f29553;
}
img{
  max-width: 340px;
}
#deck {
  display: grid;
  grid-template-areas:
  "c"
  "n";
  grid-template-columns: 1fr;
  grid-template-rows: 650px 25px;
  gap: 5px;
}
#deck > cards{
  grid-area: c;
  overflow: scroll;
}
#deck > NavBar{
  grid-area: n;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 75px;
  margin: 0;
}
button {
  all: unset;
  cursor: pointer;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
ul {
  list-style-type: none;
  padding-left: 0;
}
#lyrics-container {
  display: grid;
  grid-template-areas:
  "b a"
  "c a";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 550px 100px;
  gap: 10px;
}
#lyrics-container > lyricImg {
  background-color:white;
  grid-area: c;
}
#lyrics-container > lyricbuttons {
  grid-area: b;
  list-style-type: none;
  text-align: left;
  font-size: small;
}
#lyrics-container > lyricText {
  grid-area: a;
  overflow: scroll;
  text-align: left;
  padding-left: 40px;
}
.hideScroll::-webkit-scrollbar{
  display: none;
}
.hideScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
Modal > a {
  display: none;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.navlink {
  float: left;
  display: block;
  padding: 8px;
}
.songtitle{
  font-size: 24px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
